:root {
  --bg-color: #f5f5f5;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #f0f0f0;
  --mode-color: #ffffff;
  --border-color: #546e7a;
  --hover-color: #0056b3;
  --label-color: #455a64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #007bff;
    --secondary-color: #1a1a1a;
    --mode-color: #000000;
    --border-color: #546e7a;
    --hover-color: #0056b3;
    --label-color: #cfd8dc;
  }
}

* {
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  width: 100%;
}

h1 {
  font-size: xx-large;
}

h1,
h2 {
  color: var(--primary-color);
  text-wrap: balance;
}

#logo {
  height: 100%;
  width: auto;
  margin-right: auto;
}

section {
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  width: 100%;
}

.currency-select {
  position: relative;
}

.options-list {
  display: none;
  max-height: 10rem;
  overflow-y: auto;
  width: calc(100% - 1rem);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 0 0 0.8rem 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0.2rem;
  margin-top: 0;
}

.option {
  border: 0.5px solid var(--border-color);
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.option:hover {
  background-color: var(--bg-color);
  border-color: var(--mode-color);
}

input {
  width: calc(100% - 1rem);
  border: 1px solid var(--border-color);
  border-radius: 0.6rem;
  padding: 0.6rem;
  margin: 0.2rem;
}

#baseCurrencyInput,
#targetCurrencyInput {
  margin-bottom: 0;
}

#baseCurrencyInput:focus,
#targetCurrencyInput:focus {
  border-radius: 0.6rem 0.6rem 0 0;
}

button {
  color: #ffffff;
  padding: 0.4rem 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"] {
  background-color: royalblue;
}

button[type="submit"]:hover {
  background-color: darkblue;
}

button[type="reset"] {
  background-color: red;
}

button[type="reset"]:hover {
  background-color: darkred;
}

#swapBtn {
  background: none;
  color: var(--primary-color);
  border: none;
  font-size: 2em;
  font-weight: bold;
}

header,
footer,
#controlButtons,
header div {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

footer p {
  margin: 1rem;
}

label {
  font-weight: bold;
  color: var(--label-color);
}

dialog {
  text-align: left;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-height: 90%;
  overflow-y: auto;
  border-radius: 0.8rem;
  border: 0.1px solid;
}

dialog p,
dialog h2 {
  text-align: center;
  text-wrap: pretty;
}

#historyModal {
  text-align: center;
}

dialog button {
  background: transparent;
  color: var(--text-color);
  float: right;
}

#resultDiv {
  display: none;
}